body{
    background-color: darkblue;
}
p{
    color:  #ffcccb;
    font-size: larger;
    margin-left: 2rem;
    
}
h1{
   color: #fff;
}
#button{
     background-color: #39ff14;
     color: #000;
     font-size: 18px;
     padding: 5px;
     margin-top: 1cm;
     margin-left: 2cm;
}
image{
    margin-left: 40px;
    margin-top: 30px;
    
}
#c{
   margin-top: 7cm;
   margin-left: 7cm;
}